# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_test

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.test
*.prof

# WebStorm
*.iml

# Sublime Text
.sublime-workspace

# Directory-based project format:
.idea/
.idea/workspace.xml
**/.idea/workspace.xml

# mac hidden files
.DS_Store

#other
node_modules/
bower_components/
.tmp
.sass-cache
builds/**/images/*
*.ogg
*.mp3
*.mp4
#*.png
#*.jpeg

# security / ssl
*.pem
*.xxjson


# Anything under a tmp folder
**/tmp/*

# Don't include our binary please
lenslocked.com
images/**

.config
notes/**
.vscode/**

{
    "port": 3000,
    "env":"dev",
    "pepper":"secret-random-string",
    "hmac_key": "secret-hmac-key",
    "database":{
        "host":     "localhost",
		"port":     5432,
		"user":     "janesmith",
		"password": "1234",
		"name":     "lenslocked_dev"
    },
    "mailgun":{
        "api_key":"ebebd1f65c604abec1d8256af0df9110-a2b91229-d7811fdf",
        "public_api_key":"pubkey-6ce4f5f41e1ee9630de2dd56033f3fee",
        "domain":"sandbox92f9fb6ccb32400c954139cca076ef20.mailgun.org"
    }
}

